.character:nth-child(even) {
    background-color: #fafafa;
}

.character:hover > td {
    background-color: #dadada !important;
}

.character td {
    text-align: center;
}

.character__image {
    text-align: center;
    padding:  10px;
}
.character__image img {
    width: 110px;
    height: 110px;
}